---
import RayonisApp from '../components/RayonisApp';
import '../index.css';
---

<html lang="fr">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Rayonis - Expertise IA & Académie</title>
	</head>
	<body>
		<RayonisApp client:load />
	</body>
</html>
